<div class="row">
  <div class="column">
    <ul class="events">
      {{#each event in model}}
        <li>{{#link-to "events.show" event}}{{event.description}}{{/link-to}}</a></li>
      {{/each}}
    </ul>
  </div>
  <div class="column">
    {{outlet}}
  </div>
</div>
